<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Documento sem título</title>
        <link href="estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <table border="0" align="center">
            <tr>
                <td><a href="sessaoCliente.html" target="_parent"><img src="../Imagens/dvdcabeca2.png" alt="" name="" width="" height="" border="0" align="top"/></a></td>
            </tr>
            <tr>
                <td height="19">
                    <form action="inicio.php?b=t" method="POST" name="dados">
                        <table width="1206px" border="0" cellpadding="0" cellspacing="0" bgcolor="#D1EEB4">
                            <tr height="40">
                                <td width="100px" height="" bgcolor="#FFFFFF">
                                    <input type="submit" value="" size="" name="Submit" class="buscar2"/>
                                </td>
                                <td width="1006px">
                                    <input name="busca" type="text" id="busca" size="100%" align=""/>
                                </td>
                                <td width="50px" align="center">
                                    <div class="sombra"><strong>Cadastrar</strong>
                                        <div><strong><a class="cadastrar" href="">Cadastrar</a></strong>
                                        </div></div>
                                </td>
                                <td width="50px"><a href="login.php" target="main" class="login">login</a></td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>
