<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sem título</title>
<link href="estilos.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
</head>




<body>

	<table border="0" align="center">
    	<tr>
            <td><a href="sessaoAdministrador.html" target="_parent"><img src="../Imagens/dvdcabeca2.png" alt="" name="" width="" height="" border="0" align="top"></a></td>
        </tr>
        <tr>
        	<td height="19">
            	<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#D1EEB4">
            		<tr height="40">
                    	<td width="77%">
                        	<div class="sombraFab"><strong>Cadastrar Fabricante</strong>
                            <div><strong><a class="cadastrarFab" href="cadastroFabricante.php?flag=f" target="main">Cadastrar Fabricante</a></strong>
                          	</div></div>
                            <div class="sombraLoja"><strong>Cadastrar Loja</strong>
                            <div><strong><a class="cadastrarLoja" href="cadastroLoja.php?flag=f" target="main">Cadastrar Loja</a></strong>
                          	</div></div>
                            <div class="sombraUsuario"><strong>Cadastrar Usuário</strong>
                            <div><strong><a class="cadastrarUsuario" href="cadastroUsuario.php?flag=f" target="main">Cadastrar Usuário</a></strong>
                          	</div></div>
                            <div class="sombraProduto"><strong>Cadastrar Produto</strong>
                            <div><strong><a class="cadastrarProduto" href="cadastroProduto.php?flag=f" target="main">Cadastrar Produto</a></strong>
                          	</div></div>
                            <div class="sombraFornecedor"><strong>Cadastrar Fornecedor</strong>
                            <div><strong><a class="cadastrarFornecedor" href="cadastroFornecedor.php?flag=f" target="main">Cadastrar Fornecedor</a></strong>
                          	</div></div>
                    	</td>
                        <td width="5%"><a href="logout.php" class="login" target="_top">logout</a></td>
					</tr>
                        <!--<td width="23%">
                              <form name="form" id="form" class="meuselect">
                                <select name="select" onchange="">
	                                <option value="" selected="selected" class="stit">CONSULTAS</option>
                                    <option value="" class="sep">-----------------------</option>
	                                <option value="http://www.google.com" class="impar">Consultar Usuário</option>
                                	<option class="par">Consultar Usuário</option>
                                  	<option class="impar">Consultar Produtos</option>
                                  	<option class="par">Coltar Lojas</option>
                                  	<option class="impar">Consultar Fornecedores</option>
                                  	<option class="par">Recomendações</option>
                                </select>
                   		  </form>-->
                </table>
			</td>
		</tr>
	</table>
</body>
</html>

