<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <a href="cadastroFabricante.html">Cadastro de Fabricante</a>
        <a href="cadastroLoja.html">Cadastro de Loja</a>
        <a href="cadastroUsuario.html">Cadastro de Usuario</a>
        <a href="cadastroProduto.html">Cadastro de Produto</a>
    </body>
</html>
