<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sem título</title>
<link href="estilos.css" rel="stylesheet" type="text/css">
</head>




<body>
    <table width="100%" class="">
        <tr><div>
            <td align="center">
		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="">Nome do Produto</strong></span>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            <td align="center">		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="link">Nome do Produto</strong></span><strong class="link">o</strong>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            <td align="center">		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"/></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="link">Nome do Produto</strong></span><strong class="link">o</strong>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            <td align="center">		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="link">Nome do Produto</strong></span><strong class="link">o</strong>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            
        </div></tr>
        <tr bordercolordark="#000000"><td><br><br></td></tr>
        <tr><div>
            <td align="center">		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="link">Nome do Produto</strong></span><strong class="link">o</strong>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            <td align="center">		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="link">Nome do Produto</strong></span><strong class="link">o</strong>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            <td align="center">		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="link">Nome do Produto</strong></span><strong class="link">o</strong>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            <td align="center">		            <a href=""><img src="../Imagens/loja.png" width="70" height="35"></a>
                    <a href=""><img src="../Imagens/iraloja.png" width="90" height="35"></a>
                    <br><br>
                <div class="css do produto" id="">
                    <a href="link do produto" class="css de link">
                        <img src="../Imagens/dvd_produto.png" width="97" height="132"/>
                    </a>
                    <br>
                    <span class="link"><strong class="link">Nome do Produto</strong></span><strong class="link">o</strong>
                    </a>
                  <br>
                            
                    <span class="css dos precos">
        				<span class="precode">de R$ 30,00</span><br>
                    	<span class="precopor">por: <strong>R$ 15,00</strong></span><br>
                    	<span class="parcelas">ou 3x de R$ 10,00</span><br>
                    </span>
                </div>
            </td>
            
        </div></tr>
    </table>
</body>
